<?xml version="1.0"?>
<config>
    <modules>
        <Oliver_Menu>
            <version>0.1.0</version>
        </Oliver_Menu>
    </modules>
    <frontend>
        <routers>
            <menu>
                <use>standard</use>
                <args>
                    <module>Oliver_Menu</module>
                    <frontName>menu</frontName>
                </args>
            </menu>
        </routers>
        <layout>
            <updates>
                <menu>
                    <file>menu.xml</file>
                </menu>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <menu>
                <class>Oliver_Menu_Model</class>
                <resourceModel>menu_mysql4</resourceModel>
            </menu>
            <menu_mysql4>
                <class>Oliver_Menu_Model_Mysql4</class>
            </menu_mysql4>
        </models>
        <resources>
            <menu_setup>
                <setup>
                    <module>Oliver_Menu</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </menu_setup>
            <menu_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </menu_write>
            <menu_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </menu_read>
        </resources>
        <blocks>
            <menu>
                <class>Oliver_Menu_Block</class>
            </menu>
        </blocks>

        <helpers>
            <menu>
                <class>Oliver_Menu_Helper</class>
            </menu>
        </helpers>
    </global>
</config>