<?xml version="1.0"?>
<config>
  <modules>
    <Oliver_Campaigns>
      <version>0.1.0</version>
    </Oliver_Campaigns>
  </modules>
  <global>
    <helpers>
      <campaigns>
        <class>Oliver_Campaigns_Helper</class>
      </campaigns>
    </helpers>
	<blocks>
	  <campaigns>
		<class>Oliver_Campaigns_Block</class>
	  </campaigns>
	</blocks>
  </global>
  <admin>
	<routers>
	  <campaigns>
	    <use>admin</use>
		<args>
		  <module>Oliver_Campaigns</module>
		  <frontName>campaigns</frontName>
		</args>
	  </campaigns>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <campaigns module="campaigns">
		<title>Campaigns</title>
		<sort_order>100</sort_order>
		<children>
		  <campaignsbackend module="campaigns">
			<title>Campaigns</title>
			<sort_order>0</sort_order>
			<action>campaigns/adminhtml_campaignsbackend</action>
		  </campaignsbackend>
		</children>
	  </campaigns>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<campaigns translate="title" module="campaigns">
			  <title>Campaigns</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <campaignsbackend translate="title">
			<title>Campaigns</title>
		  </campaignsbackend>
			  </children>
			</campaigns>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<campaigns>
		  <file>campaigns.xml</file>
		</campaigns>
	  </updates>
	</layout>
  </adminhtml>
</config> 