<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Oliver_Checkout>
            <version>0.0.1</version>
        </Oliver_Checkout>
    </modules>
    <frontend>
        <routers>
            <checkout>
                <use>standard</use>
                <args>
                    <modules>
                        <Oliver_Checkout before="Mage_Checkout">Oliver_Checkout</Oliver_Checkout>
                    </modules>
                </args>
            </checkout>
        </routers>
    </frontend>
</config>