<?xml version="1.0"?>
<config>
    <modules>
        <Oliver_Test>
            <version>0.1.0</version>
        </Oliver_Test>
    </modules>
    <global>
        <models>
            <Test>
                <class>Oliver_Test_Model</class>
            </Test>
        </models>
        <blocks>
            <Test>
                <class>Oliver_Test_Block</class>
            </Test>
        </blocks>
        <helpers>
            <Test>
                <class>Oliver_Test_Helper</class>
            </Test>
        </helpers>
        <resources>
            <Test_setup>
                <setup>
                    <module>Oliver_Test</module>
                </setup>
            </Test_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <oliver>
                <use>standard</use>
                <args>
                    <module>Oliver_Test</module>
                    <frontName>oliver</frontName>
                </args>
            </oliver>
        </routers>
    </frontend>
</config>